@model TokenViewModelRefreshToken

@using (Html.BeginForm("RefreshToken", "Token", FormMethod.Post))
{
    @Html.HiddenFor(m => m.GrantType)

    <tr>
        <td>@Html.LabelFor(m => m.RefreshToken)</td>
        <td>
            @Html.TextBoxFor(m => m.RefreshToken)
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input type="submit" name="command" value="get token" />
        </td>
    </tr>
}
