@model TokenViewModel
<section>
    <div class="content">
        <header class="major">
            <h3>Token Request [Auth0]</h3>
        </header>

        <table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%">
            <tr><td style="width:20%; height:0"></td></tr>

            @await Html.PartialAsync("_TokenGrantTypePartial", Model)
            @await Html.PartialAsync("_TokenRequestPartial", Model)

        </table>

        @if (Model.TokenResponse != null)
        {
            <header class="major">
                <h3>Token Response [Auth0]</h3>
            </header>
            @await Html.PartialAsync("_TokenResponsePartial", Model.TokenResponse)
        }

    </div>
</section>